* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden
}

#root {
    height: 100%;
}

.row {
    height: calc(100% - 55px);
}

.leaflet-container {
    height: 100%;
}

.leaflet-left {
    padding-left: 12px;
}

.destinations {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 24px;
}

.destinations-header {
    margin-bottom: 10px;
}

.destinations-numbers {
    height: 100%;
}

.footer {
    background-color: #212529;
    color: white;
    text-align: center;
    margin-left: -12px;
    margin-right: -12px;
}

.textfield {
    width: 100%;
}

.popper {
    z-index: 9999;
    height: 100%;
    padding-top: 55px;
    top: 0;
    width: 18vw;
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: .7rem;
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.box-attractions {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: .5rem;
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.footer-button {
    padding: 20px !important;
}

.trips-container {
    padding: 12px;
}

.login-signup {
    margin-top: 25px;
}

.error {
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .popper {
        z-index: 9999;
        height: 100%;
        padding-top: 55px;
        top: 0;
        width: 100vw;
    }

    .box {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-right: 0;
        border-top: 0 !important;
        border-bottom: 0 !important;
    }

    .box-attractions {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-right: 0;
        border-top: 0 !important;
        border-bottom: 0 !important;
    }

    .leaflet-container {
        height: 50vh;
    }

    .destinations {
        height: 42vh;
    }
}