* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden
}

#root {
    height: 100%;
}

.row {
    height: calc(100% - 55px);
}

.leaflet-container {
    height: 100%;
}

.destinations {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.destinations-header {
    margin-bottom: 10px;
}

.destinations-numbers {
    height: 100%;
}

.footer {
    background-color: #212529;
    color: white;
    text-align: center;
}

.textfield {
    width: 100%;
}

.popper {
    z-index: 9999;
    height: 100%;
    padding-top: 55px;
    top: 0;
    width: 18vw;
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: .7rem;
}

.box-attractions {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: .5rem;
}

.login-signup {
    margin-top: 25px;
}

.error {
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .leaflet-container {
        height: 50vh;
    }

    .destinations {
        height: 42vh;
    }
}